/* variables */
$primary_color: #5c5c5c;
$border-radius: 0px;
$font-color:#5c5c5c; 
$font-color-secondary: #1d1d1d;

$button-color: #767676;
$button-color-hover: #1d1d1d;
$share_icons_color: #767676;

$background-color: #1d1d1d;

$navigation-background-color:#1d1d1d;
$navigation_font_color: #ffffff;
$navigation-link-color: #ffffff;
$navigation-link-hover-color:#e5e5e5;
$navigation-button-color: #1d1d1d;
$navigation-button-font-color: #fff;
$navigation-button-hover-color: #767676;


$widget-tab-color:#1d1d1d;
$widget-tab-active-color:#767676;
$widget-tab-font-color:#ffffff;
$schedule_header_color:#e5e5e5;

$footer-background-color: #1d1d1d;
$footer-text-color:#e5e5e5;
$footer-text-hover-color:#ffffff;

$background-image: '';
