<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ organization.name }}</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <meta name='title' content='{{ organization.meta_title }}'>
  <meta name='description' content='{{ organization.meta_description }}'>
  <meta name='keywords' content='{{ organization.meta_keywords }}'>
  <!-- Social Sharing -->
  <meta name='og:title' content='{{ event.title }}'>
  <meta name='og:description' content='{{ event.description }}'>
  <meta name='og:url' content='{{ organization.platform_url }}'>
  <meta name='og:image' content='{{ organization.logo_url }}'>
  <!-- Social Sharing -->
  <link href='{{ organization.platform_url }}'>
  <link href='{{ organization.favicon }}' rel='icon' type='image/png'>

  {{ platform_head }}
  {{ foundation_css }}

  <link rel="stylesheet" type="text/css" href="https://icf.ch/static/onlinechurchcss/app.css?min" />
</head>
<body id="main">
  <header class="row full-width mod-page-header" >
    <div class="small-12 nav-margin">
      <div class="navigation contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <span class="brand"><a href="{{ organization.website_url }}">{{ organization.brand }}</a></span>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="top-bar-actions">
              {% for link in organization.header_links %}
                <li class="link">
                  {{ link }}
                </li>
              {% endfor %}
              <li class="avatar">
                {{ component.sign_in }}
                {{ component.account }}
                <div style="height: 0px; width: 0px;margin-top: -999em;">{{ component.sign_up }}</div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
      
    <div class="avatar avatar-desktop show-for-medium-up">
      {{ component.sign_in }}
      {{ component.account }}
    </div>

    <h1>ICf Zürich Live</h1>
  </header>

  {{ component.reminder_header }}

  <div class="content">
  
    <div class="row full-width max-width relative">
      <div class="small-12 large-8 columns no-padding-right" role="content">
        {{ component.video }}
        {{ component.slides }}
      </div>
      <div class="large-4 columns no-padding-left full-height show-for-medium-up widget-wrapper">
        <!-- here goes chat etc… See JS -->
      </div>
    </div>
    
    <!--div class="row full-width event-details show-for-large">
      <div class="large-8 columns">
        <div>
          <p>{{ event.description }}</p>
          <!--p>{{ component.next_service_time }}</p - ->
        </div>
      </div>
    </div-->
    
    <div class="row full-width max-width prayer-tagline">
      {% if settings.show_social == '1' %}
      <div class="small-6 columns">
        <div class="share">
            {{ component.share }}
        </div>
      </div>
      {% endif %}
      <div class="small-6 text-right columns" role="content">
          <div class="prayer-box" data-behavior="co-prayer-box">
            <!--span class="prayer-button">{{ component.prayer_button }}</span-->
            <a href="https://www.icf.ch/gebet" target="_blank" class="white-button button prayer-button">Gebetsanliegen</a>
          </div>
      </div>
    </div>
    
    <!-- Chat bellow Video for small -->
    <div class="row full-width max-width show-for-medium-down">
      <!--div class="small-12 columns mobile-schedule-buttons">
          <a href="#" data-behavior="show-schedule" class="white-button button expand">{{ 'show_schedule' | translate }} <i class="co-icon-plus-square-o"></i></a>
          <a href="#" data-behavior="hide-schedule" class="white-button button expand" style="display:none;">{{ 'hide_schedule' | translate }} <i class="co-icon-minus-square-o"></i></a>
      </div-->
      <div class="small-12 columns relative mobile-widgets-height">
        <div class="mobile-widgets-wrapper full-height">
          {% widgets %}
            {% tabs %}
              {% if event.chat_enabled? %}
                {% tab chat  %} {{ 'chat' | translate }} {% endtab %}
              {% endif %}
              {% tab schedule default %} {{ 'schedule' | translate }} {% endtab %}
              <!-- {% if event.notes_enabled? %}
                {% tab notes %} {{ 'notes' | translate }} {% endtab %}
              {% endif %}-->
              {% if settings.bible_tab == '1' %}
                {% tab bible %} {{ 'bible' | translate }} {% endtab %}
              {% endif %}
              {% if event.custom_tab_enabled? or true %}
              {% tab custom-tab %} {{ organization.custom_tab_title }} {% endtab %}
              {% endif %}
            {% endtabs %}
            
            {% content_for_tabs %}
              {% if event.chat_enabled? %}
                {% tab_content chat %} {{ component.chat }} {% endtab_content %}
              {% endif %}
              <!-- disabled -->
              {% if event.notes_enabled? and false %}
                {% tab_content notes %} {{ component.notes }} {% endtab_content %}
              {% endif %}
              
              {% tab_content schedule %} {{ component.schedule }} {% endtab_content %}
              
              {% if settings.bible_tab == '1' %}
                {% tab_content bible %} {{ component.bible }} {% endtab_content %}
              {% endif %}
              
              {% if event.custom_tab_enabled? or true %}
                {% tab_content custom-tab %} {{ component.custom_tab }} {% endtab_content %}
              {% endif %}
            {% endcontent_for_tabs %}
          {% endwidgets %}
        </div>
      </div>
    </div>
  </div>
  <footer class="row full-width max-width">
    <div class="medium-8 small-12 columns">
      <ul class="inline-list left">
        {% for link in organization.footer_links %}
          <li>{{ link }}</li>
        {% endfor %}
        
        {% if organization.facebook_link %}
          <li><a href="{{ organization.facebook_link }}" target="blank">{{ 'facebook' | translate }}</a></li>
        {% endif %}
        {% if organization.twitter_link %}
          <li><a href="{{ organization.twitter_link }}" target="blank">{{ 'twitter' | translate }}</a></li>
        {% endif %}
        
        <li class="copyright">{% include 'copyright' %}</li>
      </ul>
    </div>
    <div class="medium-4 small-12 columns text-right">
      <a class="powered-by" href="http://www.icf.ch" target="_blank">© ICF Church</a>
    </div>
  </footer>

  {{ platform_footer }}
  {{ foundation_js }}
  
   <script type="text/javascript" src="https://icf.ch/static/onlinechurchcss/app.js?min"></script>
  {{ organization.google_analytics_code }}
</body>
</html>
